.text-light-gray {
    color: #5A5A5D;
}

.text-mystic-red {
    color: #FF5400;
}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    color: #FFF;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 800;
    border: none;
}

/* header styles */
header,
menu {
    padding: 50px 135px;
}

.blog-name {
    display: flex;
}

.blog-name img {
    width: 48px;
    height: 56.008px;
    margin-right: 10px;
}

blog-name h3 {
    color: #131318;
    font-size: 2.2rem;
    font-weight: 800;
}

nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

nav ul {
    display: flex;
    gap: 40px;

}

nav ul li {
    list-style: none;

    font-weight: 400;
    font-size: 1.12rem;

}

nav ul li a {
    text-decoration: none;
    color: #424247;
}

/* banner styles */
.banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group\ 13\ \(1\)\ \(1\).png');
    border-radius: 16px;
    width: 1170px;
    height: 500px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content {}

.banner-titel {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 10px;
    text-align: center;

}

.banner-discirption {
    width: 676px;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 10px;
}

.banner-input {
    display: inline-flex;
    padding: 1rem;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 20px;
}

.input {
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    width: 174px;
    height: 52px;

}

.input-select,
.search {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    padding: 5px;
    border: none;
}

.search {
    background: #FF5400;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
}

/* tours sections styles */
.teams-container {
    display: flex;
    gap: 10px;

}

.teams-content {
    width: 700px;

}

.tours-img-container {
    width: 100%;


}

.common-titel {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

.tours-discription {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}


.fast-colom {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.secend-colom {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.thard-colom {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.Destination-content {
    text-align: center;

}

.common-discription {
    text-align: center;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    width: 650px;
    margin: 0px auto;
    margin-bottom: 20px;

}

.card-1 {
    width: 573px;
    height: 284px;
    padding: 32px;
    border-radius: 16px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin-right: 20px;
}

.card-2 {
    width: 573px;
    height: 284px;
    padding: 32px;
    border-radius: 16px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);

}

.card-3 {
    width: 573px;
    height: 284px;
    padding: 32px;
    border-radius: 16px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    margin-top: 20px;
  
}

.card-titel {
    color: #131318;
    font-size: 1.9rem;
    font-weight: 800;

}

.card-discription {
    width: 486px;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

.card-fast-colom {
    display: flex;
    justify-content: space-between;

}

.discount-card {
    width: 550px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    margin: 55px 55px 555px 500px;
    padding-left: 50px;
    position: absolute;
}

.card-m {
    margin: 55px 500px 555px 55px;
}

.iconbar ul {
    display: flex;


}

.iconbar ul li {
    display: flex;
    list-style: none;
    margin: 20px;

}

.discount-card-img {
    border-radius: 16px;
    background: url(Images/Group\ 39.png), lightgray 50% / cover no-repeat;
    ;
    width: 1170px;
    height: 500px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}
.rigt-bg{
    background: url(Images/Group\ 40.png), lightgray 50% / cover no-repeat;
    ;
    
}
/* place section style */
.sub-discription {
    color: #131318;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;

}

.place-section {
    display: flex;
}

.plece-img {
    width: 610px;
    height: 424px;
    border-radius: 16px;
    background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);
}
.plece-content-2{
    display: flex;
    margin-top: 20px;
}
.plece-img{
    width: 672px;
    height: 422px;
    border-radius: 16px;
    border-radius: 16px;
    background: url(), lightgray 50% / cover no-repeat;

}
.form-content{
    width: 1440px;
height: 600px;
margin-right: 100px;
}
.form{
    width: 393px;
height: 52px;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
}
.from-btn{
    width: 393px;
height: 52px;
border-radius: 8px;
background: #FF5400;
}
/* footer section */

footer {
    background: rgba(19, 19, 24, 0.05);

    text-align: center;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 1440px;
    height: 502px;
}



footer .social {
    display: flex;
    padding: 20px 0;
    gap: 20px;
    justify-content: center;
}
.foot-hed{ display: flex;
    justify-content: center;
}
.footer-hr {
    width: 872px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}
.futter-discription{
    color: #5A5A5D;
    width:width: 769px;

text-align: center;
font-size: 1rem;
font-weight: 400;
}
.copiright-discription{
    color: #131318;
font-size: 1rem;
font-weight: 300;
}


/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 600px) {

    .headder {
        padding: 20px;
        margin: 0;
    }

    .banner {
        display: flex;
        flex-direction: column;
        width: 335px;
        height: 483px;
    }

    .banner-input {
        display: flex;
        padding: 16px;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
}
